
html {
    scroll-behavior: smooth;
    height : 100%;
}
body{
    min-height: 100%;
    margin : 0;
    padding : 0;
    position: relative;
}
.links a {
    color: black; 
}
.links a:hover {
    text-decoration: none;
}

.carousel-item{
    height: 800px;
} 
.carousel-item img{
    height: 800px;
}

.carousel-inner h5{
    color:red;
}




  